$primary: hsl(28, 52%, 94%);
$secondary: hsl(34, 23%, 94%);
$decor: hsla(0, 0%, 0%, 0.2);
$highlight: hsla(42, 32%, 86%, 0.2);
$fog: hsla(0, 0%, 86%, 0.2);
$selected: hsl(232, 30%, 43%);

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$red: hsl(0, 100%, 50%);
$blue: hsl(255, 100%, 50%);

$error: hsl(0, 100%, 32%);