@mixin dropShadow {
  box-shadow: 0 2px 4px hsla(0, 0, 0, 0.3);
}

@mixin innerShadow {
  box-shadow: inset 0 1px 3px hsla(0, 0, 0, 0.1);
}

@mixin iOSBlur {
  backdrop-filter: blur(30px) contrast(1.0) saturate(60%) brightness(0.9);
}