@import './colors.scss';

&__MediaSelector {
  &__Grid {
    display: flex;
    flex-wrap: wrap;
    min-width: 78vw;
    align-items: center;
    justify-content: center;
  }
  
  &__Item {
    padding: 16px;
    border: 1px solid $decor;
    margin: 4px;
    width: 160px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 4px;
    &--Selected {
      background-color: $secondary;
      border-color: $selected;
    }
    &__Image {
      max-width: 128px;
      max-height: 128px;
    }
    &__Text {
      font-size: 10pt;
      overflow-wrap: break-word;
    }
  }
}